html {
  background: url(../images/monetorBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.monetorHeader {
  font-family: "Montserrat";
  text-shadow: 1px 1px 2px black;
  color: #ef4750;
  letter-spacing: 15px;
  font-size: 350%;
  text-align: center;
}

sup {
  font-size: 25%;
  top: -25px;
  position: relative;
}

.wrapper {
  justify-content: center;
  display: grid;
  margin: auto;
  padding: 10px;
  padding-top: 5%;
  padding-left: 30%;
  padding-right: 30%;
}

.signinButton {
  border: 1px solid #ef4750;
  background-color: #ef4750;
  padding: 20px 20px;
  margin: 8px 0;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
}

.signIn:hover {
  opacity: 0.7;
}

.signinButton:hover {
  opacity: 0.7;
}

.orFont {
  padding-top: 10%;
  font-family: "Montserrat", sans-serif;
  color: #d2deec;
}

#eMail,
#passWord {
  width: 100%;
  padding: 20px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d2deec;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d2deec;
}

.checkbox {
  font-size: 1px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

h2 {
  font-family: "Montserrat";
  color: #d9454f;
}

@media (max-width: 500px) {
  .wrapper {
    transform: scale(0.7, 0.7);
  }
}

@media (max-width: 400px) {
  .wrapper {
    transform: scale(0.6, 0.6);
  }
}
