#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText1 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText2,
div.menuText3,
div.menuText4,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}

.wrapper {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}
body > div.wrapper > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
  width: 11em;
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
  margin: 8px 0;
}

.smallGap {
  bottom: 15%;
  position: relative;
  color: #d2deeca1;
}

.alert1 {
  background-color: #6bdb9a;
  position: relative;
  grid-template-columns: auto auto auto auto;
  display: grid;
  box-shadow: 7px 6px 14px -4px;
  padding-left: 5%;
  overflow-x: hidden;
}

.alert1Red {
  background-color: #b87682;
  position: relative;
  grid-template-columns: auto auto auto;
  display: grid;
  box-shadow: 7px 6px 14px -4px;
  padding-left: 5%;
}

.alertValue {
  color: #0a293e;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.eurSmall {
  font-size: 0.7em;
}

.curveCurrency {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}

.bellRight {
  position: absolute;
  right: 5%;
  bottom: 70%;
}

.secureButton {
  border: 1px solid #ef4750;
  background-color: #ef4750;
  padding: 20px 0px;
  margin: 8px 0;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
}

.secureButtonBlue {
  border: 25px solid #0a293e;
  background-color: #0a293e;
  margin: 50px 0px;
  font-family: "Montserrat", sans-serif;
  border-radius: 7px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px;
}

.secureColor {
  color: #d2deec;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  text-align: center;
}

.alertUpDownPosition {
  color: #04915b;
  background-color: #7bf3a6;
  border-top-left-radius: 50px;
  position: relative;
  margin-top: 10%;
  left: 2.4em;
}

.alertUpDownPositionRed {
  color: #fe2729;
  background-color: #df8893;
  border-top-left-radius: 50px;
  position: relative;
  margin-top: 10%;
}

.alertUpDown {
  padding-top: 10%;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.detailsColor {
  color: #0a293e;
  font-size: 150%;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

.detailsText {
  margin: 36px 0px;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  padding-left: 10%;
}

@media (max-width: 850px) {
  h2 {
    font-size: 20px;
  }
  .bellRight {
    height: 20%;
    top: 6%;
  }
  .alertValue,
  .secureButton,
  .secureColor,
  .secureButtonBlue,
  .detailsColor,
  .alertUpDown {
    font-size: 20px;
  }

  .curveCurrency {
    margin-top: 0.4em;
  }

  .wrapper {
    display: grid;
    justify-content: center;
  }

  #mySidenav {
    display: none;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 10px;
  }
}

/*
.alert1 {
  transform: scale(0.8, 0.8);
}

*/
