#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText1 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText2,
div.menuText3,
div.menuText4,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}

.wrapper {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
  justify-content: center;
}
body > div.wrapper > div:nth-child(4) > div:nth-child(2) > div:nth-child(3) {
  width: 11em;
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
  margin: 8px 0;
}

.smallGap {
  bottom: 15%;
  position: relative;
  color: #d2deeca1;
}

.alert1 {
  background-color: #6bdb9a;
  position: relative;
  box-shadow: 7px 6px 14px -4px;
  padding-left: 5%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 30% 5% 30% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "eur arrow nok bell"
    "secure . details updown";
}

.alert1Red {
  background-color: #b87682;
  position: relative;
  box-shadow: 7px 6px 14px -4px;
  padding-left: 5%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 30% 5% 30% 35%;
  grid-template-rows: auto;
  grid-template-areas:
    "eur arrow nok bell"
    "secure . details updown";
}

.alertValue {
  color: #0a293e;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  grid-area: eur;
}

.alertValue2 {
  color: #0a293e;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: right;
  grid-area: nok;
}

.eurSmall {
  font-size: 0.7em;
}

.curveCurrency {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
  grid-area: arrow;
  color: #ef4750;
}

.bellRight {
  position: absolute;
  right: 6%;
  top: 10%;
}

.bellRight:hover {
  opacity: 0.7;
}

.secureButton {
  border: 1px solid #ef4750;
  background-color: #ef4750;
  padding: 20px 0px;
  margin: 1.5em 0;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
  grid-area: secure;
}

#myBtn {
  border: 1px solid #ef4750;
  background-color: #ef4750;
  color: white;
  padding: 20px 0px;
  margin: 1.5em 0;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
  grid-area: secure;
}

#myBtn:hover {
  opacity: 0.7;
}

#secureAlert1:hover {
  opacity: 0.7;
}

#secureAlert1,
#secureAlert2,
#secureAlert3 {
  border: 1em solid #0a293e;
  background-color: #0a293e;
  margin: 50px 0px;
  color: #d2deec;
  font-size: 1.7em;
  font-family: "Montserrat", sans-serif;
  border-radius: 7px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin-right: 9em;
}

.secureColor {
  color: #d2deec;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-size: 1.7em;
  text-align: center;
  margin-right: 9em;
}

.alertUpDownPosition {
  color: #04915b;
  background-color: #7bf3a6;
  border-top-left-radius: 50px;
  position: relative;
  margin-top: 25%;
  margin-left: 1em;
  /* left: 2.4em; */
  grid-area: updown;
}

.alertUpDownPositionRed {
  color: #fe2729;
  background-color: #df8893;
  border-top-left-radius: 50px;
  position: relative;
  margin-top: 25%;
  margin-left: 1em;
  /* left: 2.4em; */
  grid-area: updown;
}

.alertUpDown {
  padding-top: 8%;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  grid-area: updown;
}

.detailsColor {
  color: #0a293e;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  text-align: left;
}

.detailsText {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 5em;
  grid-area: details;
}

#securedAll {
  text-align: center;
  font-size: 4em;
  color: #6bdb9a;
  font-family: "Merienda", cursive;
}

@media screen and (max-width: 1250px) {
  #mySidenav {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    transform: scale(0.7);
    margin-top: -14em;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    transform: scale(0.5);
    margin-top: -23em;
  }
}
