#mySidenav > div > div.menuText1 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText2,
div.menuText3,
div.menuText4,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}

.wrapper {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
  margin: 8px 0;
}

.smallGap {
  bottom: 15%;
  position: relative;
  color: #d2deeca1;
}

.alert1 {
  background-color: #6bdb9a;
  position: relative;
  height: 30%;
  grid-template-columns: auto auto auto;
  display: grid;
  padding: 2%;
}

.alertValue {
  color: #0a293e;
  letter-spacing: 5px;
  font-size: 2em;
  font-family: "Arial Bold";
}

.eurSmall {
  font-size: 0.7em;
}

.bellRight {
  margin-right: auto;
  padding-left: 85%;
}
