html {
  background: url(../images/monetorBackground.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header1 {
  color: #EF4750;
  font-family: 'Montserrat';
  font-size: 400%;
  letter-spacing: 5px;
  text-align: center;
  line-height: 350px;
}

.header2 {
  color: white;
  font-size: 100%;
  text-align: center;
}

sup {
  font-size: 40%;
}
