#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText4 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText1,
div.menuText2,
div.menuText3,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}

.wrapperProfile {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}

.profile {
  margin-top: 1em;
  background-color: #09364B;
  position: relative;
  box-shadow: 7px 6px 14px -4px;
  padding-right: 5%
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 100px);
}

.name {
  margin-top: 1em;
  padding-left: 10%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

.username {
  margin-top: 1em;
  padding-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

.email {
  margin-top: 1em;
  padding-left: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: start;
  align-self: end;
}

.password {
  margin-top: 1em;
  padding-left: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: start;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

.editInfo {
  margin-top: 1em;
  color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #0A293E;
  background-color: #0A293E;
  padding: 15px 0px;
  margin: 1.5em 15px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
}

.logOutButton {
  margin-top: 1em;
  color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  border: 1px solid #ef4750;
  background-color: #ef4750;
  padding: 15px 0px;
  margin: 1.5em 15px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
}


@media (max-width: 1150px) {
  .profile {
    margin-top: 1em;
    background-color: #09364B;
    position: relative;
    box-shadow: 7px 6px 14px -4px;
    padding-right: 5%
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
  }

  .name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 5%;
    align-self: end;
  }
  .username {
    align-self: start;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .email {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
  }
  .password {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: start;
    font-size: 1.8em;
  }
  .logOutButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
  }
  .editInfo {
    margin: -0.4em 15px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    align-self: start;
  }
}

@media (max-width: 720px) {
  .wrapper {
    margin-top: -6em;
  }

  .profile {
    margin-top: 1em;
    background-color: #09364B;
    position: relative;
    box-shadow: 7px 6px 14px -4px;
    padding-right: 5%
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75px 75px 75px 100px 75px 75px;
  }

  .name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 5%;
    align-self: end;
    font-size: 1.7em;
  }
  .username {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    align-self: start;
    font-size: 1.7em;
  }
  .email {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    font-size: 1.7em;
  }
  .password {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: start;
    font-size: 1.7em;
  }
  .logOutButton {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: start;
    place-self: center stretch;
    font-size: 1em;
  }
  .editInfo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 6;
    align-self: start;
    place-self: center stretch;
    font-size: 1em;
  }

}

@media (max-width: 550px) {
  .name,
  .username,
  .email,
  .password {
    font-size: 1.5em;
  }

  .logOutButton,
  .editInfo {
    font-size: 1em;
  }
}
