#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText6 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText1,
div.menuText2,
div.menuText3,
div.menuText4,
div.menuText5 {
  border: 25px solid #0a293e;
}

.wrapperSettings {
  display: grid;
  margin: auto;
  justify-content: center;
}

.settings::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.settings {
  margin-top: 1em;
  background-color: #09364b;
  position: relative;
  box-shadow: 7px 6px 14px -4px;
  padding-right: 5%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 100px);
}

.notifications {
  margin-top: 1em;
  padding-left: 10%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.onOff {
  padding-left: 65%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  align-self: center;
}

.currency {
  margin-top: 1em;
  padding-left: 10%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.usd {
  margin-top: 1em;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  color: #6cda9b;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

.feedback {
  margin-top: 1em;
  padding-left: 5%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: start;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: start;
}

/*
.arrow {
  margin-top: 1em;
  margin
  padding-left: 5%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  align-self: start;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  text-align: center;
} */

.version {
  margin-top: 1em;
  padding-left: 5%;
  color: #6f6f6f;
  font-size: 2em;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  font-family: "Montserrat", sans-serif;
}

.logOutButton {
  padding-left: 10%;
  margin-top: 1em;
  color: white;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  border: 1px solid #ef4750;
  background-color: #ef4750;
  padding: 15px 0px;
  margin: 1.5em 15px;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  text-align: center;
  box-shadow: 7px 6px 14px -4px color black;
  letter-spacing: 5px;
}

.logOutButton:hover {
  opacity: 0.7;
}

/*Switch slider from w3schools "How to create a toggle switch" */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a293e;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #6cda9b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 960px) {
  .notifications,
  .currency,
  .usd,
  .feedback,
  .version {
    font-size: 1.5em;
  }

  .onOff {
    position: relative;
    top: -13%;
  }

  .logOutButton {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-right: -6em;
  }
}
