#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText5 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText1,
div.menuText2,
div.menuText3,
div.menuText4,
div.menuText6 {
  border: 25px solid #0a293e;
}

.wrapper {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}

.dashboard-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
  margin: 8px 0;
}

.smallGap {
  bottom: 15%;
  position: relative;
}
