html {
  background: url(../images/monetorBackground.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-color: #09344a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

#mySidenav::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

h1,
h2 {
  font-family: "Montserrat";
  text-shadow: 1px 1px 2px black;
  color: #d2deec;
}

span {
  font-family: "Montserrat";
}

p {
  font-family: "Montserrat";
  color: #d2deec;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.monetorLogo {
  font-family: "Montserrat";
  text-shadow: 1px 1px 2px black;
  color: #ef4750;
}

.headLine {
  text-align: center;
  letter-spacing: 10px;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
}

.main-header {
  color: #ef4750;
  font-family: "Montserrat";
  font-size: 100%;
  letter-spacing: 5px;
  text-align: right;
  margin-bottom: 1em;
  top: -0.8em;
  position: relative;
}

#mySidenav {
  width: 250px;
  background-color: #0a293e;
}

hr {
  width: 100%;
  text-align: left;
  border: 1px solid #d2deec;
}

.header2 {
  color: white;
  font-size: 100%;
  text-align: center;
}

sup {
  font-size: 40%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d2ddec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2em;
}

.closebtn {
  font-weight: bold;
}
.sidenav img {
  margin-right: 10%;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
  color: #d2ddec;
  text-shadow: 1px 1px 2px black;
}

.sidenav a:hover {
  color: #ef4750;
}

.grid-container {
  display: grid;
}

.grid-container .menuText1 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.colorGreen {
  color: #6bdb9a;
}

.grid-container .menuText2 a {
  padding-bottom: 10px;
  margin-top: 8%;
  position: absolute;
}

.grid-container .menuText3 a {
  padding-bottom: 10px;
  margin-top: 5%;
  position: absolute;
}

.grid-container .menuText4 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.grid-container .menuText5 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.grid-container .menuText6 a {
  padding-bottom: 10px;
  margin-top: 3%;
  position: absolute;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 50px;
  margin-left: 5px;
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: grid;
    justify-content: center;
    transform: scale(0.7, 0.7);
  }

  #mySidenav {
    display: none;
    filter: none;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    display: grid;
    justify-content: center;
    transform: scale(0.6, 0.6);
  }

  #mySidenav {
    display: none;
    filter: none;
  }
}

@media screen and (max-width: 400px) {
  .wrapper {
    display: grid;
    justify-content: center;
    transform: scale(0.5, 0.5);
  }

  #mySidenav {
    display: none;
    filter: none;
  }
}
