html {
  background: url(../images/monetorBackground.jpg) no-repeat center center fixed;
  background-attachment: fixed;
  background-color: #09344a;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
  text-shadow: 1px 1px 2px black;
}

.header-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
}

.main-header {
  color: #ef4750;
  font-family: "Montserrat";
  font-size: 100%;
  letter-spacing: 5px;
  text-align: right;
}

#mySidenav {
  width: 250px;
  background-color: #0a293e;
}

hr {
  width: 30%;
}

.header2 {
  color: white;
  font-size: 100%;
  text-align: center;
}

sup {
  font-size: 40%;
}

button {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  font-family: "Montserrat";
  border: 1px solid #d9454f;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d9454f;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #d2ddec;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 5%;
}

.sidenav img {
  margin-right: 10%;
}

.sidenav a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #d2ddec;
  text-shadow: 1px 1px 2px black;
}

.sidenav a:hover {
  color: #ef4750;
}

.grid-container {
  display: grid;
}

.grid-container .menuText1 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.grid-container .menuText2 a {
  padding-bottom: 10px;
  margin-top: 8%;
  position: absolute;
}

.grid-container .menuText3 a {
  padding-bottom: 10px;
  margin-top: 5%;
  position: absolute;
}

.grid-container .menuText4 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.grid-container .menuText5 a {
  padding-bottom: 10px;
  margin-top: 4%;
  position: absolute;
}

.grid-container .menuText6 a {
  padding-bottom: 10px;
  margin-top: 3%;
  position: absolute;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 40px;
  margin-left: 5px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 20px;
  }
  .sidenav a {
    font-size: 20px;
  }
}
