#mySidenav > div > div.totalBalance {
  width: 100%;
  border: 25px solid #0a293e;
  color: #04915b;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: -1.7em;
}

#mySidenav > div > div.menuText2 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 13px -4px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

#mySidenav > div > div.menuText1,
div.menuText3,
div.menuText4,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}

h1,
h2,
h3,
h4,
div {
  font-family: "Montserrat";
  color: #d2deec;
}

.wrapperProtection {
  display: grid;
  margin: auto;

  justify-content: center;
}

.wrapper {
  display: grid;
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
}

.wallets-container {
  display: grid;
  grid-template-columns: auto auto;
  color: #d2deec;
  margin: 8px 0;
}

.dollarSpace {
  margin-top: -1em;
}

.currencySpace {
  margin-bottom: 0em;
}

.changeWallet {
  border: 25px solid #d2ddec;
  color: #0a293e;
  background-color: #d2ddec;
  text-align: left;
  font-weight: bold;
  margin-right: 1em;
}

.graphImage {
  text-align: center;
}

.graphlevel {
  text-align: center;
}

.changeWallet:hover {
  opacity: 0.7;
}

.goBack {
  border: 25px solid #d2ddec;
  color: #0a293e;
  background-color: #d2ddec;
  text-align: left;
  font-weight: bold;
  margin-top: 7em;
  margin-right: 12em;
}

.goBack:hover {
  opacity: 0.7;
}

.changeProtection:hover {
  opacity: 0.7;
}

.addButton:hover {
  opacity: 0.7;
}

.swapCurrency {
  margin-top: 2em;
}

.changeProtection {
  border: 25px solid #d2ddec;
  color: #0a293e;
  margin-top: 1em;
  background-color: #d2ddec;
  text-align: left;
  font-weight: bold;
}

.addButton {
  border: 25px solid green;
  color: white;
  background-color: green;
  font-size: 1em;
  margin-right: -5em;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .wrapperProtection {
    display: grid;
    justify-content: center;
    transform: scale(0.8, 0.8);
  }

  #mySidenav {
    display: none;
    filter: none;
  }
}

@media screen and (max-width: 850px) {
  .wrapper {
    display: grid;
    justify-content: center;
  }

  #mySidenav {
    display: none;
    filter: none;
  }
}
