#mySidenav > div > div.menuText2 {
  background-color: #09344a;
  width: 100%;
  border: 25px solid #09344a;
}

#mySidenav > div > div.menuText1,
div.menuText3,
div.menuText4,
div.menuText5,
div.menuText6 {
  border: 25px solid #0a293e;
}
